<div class="container">
    <div class="row">
        <h1>Add Nuevo Boleto cineapp+</h1>
    </div>
</div>


<div class="container form-add">
    <form formGroup]="miFormulario" (ngSubmit)="edit ? updateBoletos() : submitBoletos()">
        <div class="row">
            <div class="col-6">

                <label for="">Pelicula:</label>
                <select class="form-control select-option"  name="pelicula" *ngFor="let p of pelicula" >
                    <option [(ngModel)]="p._id" >
                        {{p.titulo}}
                    </option>
                </select>
                <p *ngIf="!miFormulario.controls['pelicula'].valid" class="text-danger">Escoja la pelicula del boleto</p>



                <label for="">Comercio:</label>
                <select class="form-control select-option"  name="comercio" *ngFor="let c of comercio" >
                    <option [(ngModel)]="c._id" >
                        {{c.nombreComercio}}
                    </option>
                </select>
                <p *ngIf="!miFormulario.controls['comercio'].valid" class="text-danger">Escoja nombre del comercio</p>


                <label for="">Num. Boleto:</label>
                <input type="text" class="form-control"  formControlName="numBoleto" placeholder="1, 2, 3">
                <p *ngIf="!miFormulario.controls['numBoleto'].valid" class="text-danger">El Num. Boleto debe tener un valor</p>


                <label for="">Horario:</label>
                <select class="form-control select-option"  name="horario" *ngFor="let h of horario" >
                    <option [(ngModel)]="h._id" >
                        {{h.hora}}
                    </option>
                </select>
                <p *ngIf="!miFormulario.controls['horario'].valid" class="text-danger">Escoja Hora del Boleto</p>

               
                <label for="">Sala:</label>
                <select class="form-control select-option"  name="sala" *ngFor="let s of sala" >
                    <option [(ngModel)]="s._id" >
                        {{s.sala}}
                    </option>
                </select>
                <p *ngIf="!miFormulario.controls['sala'].valid" class="text-danger">Escoja la sala del Boleto</p>



                <label for="">Precio:</label>
                <input type="text" class="form-control"  formControlName="precio" placeholder="$2.40, $3.00">
                <p *ngIf="!miFormulario.controls['precio'].valid" class="text-danger">El precio debe contener un valor</p>
               

                <label for="">Descuento:</label>
                <input type="text" class="form-control"  formControlName="descuento" placeholder="S1, S2">
                <p *ngIf="!miFormulario.controls['descuento'].valid" class="text-danger">La sala debe contener un valor</p>
               
                <label for="">Total:</label>
                <input type="text" class="form-control"  formControlName="total" placeholder="$2.40, $3.00">
                <p *ngIf="!miFormulario.controls['total'].valid" class="text-danger">Total debe contener un valor</p>
               

          
            </div>

            <div class="col-6">
                
               
            </div>
            
            <button [disabled]="!miFormulario.valid" class="btn btn-primary btn-save">Guardar Boleto</button>
        
        </div>
    </form>
</div>