<header>
  <div class="container container-menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/dashboard']"><img src="" alt="" width="200px"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <ng-container *ngIf="!roles(); else rolesIn">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLinkActive="active">Peliculas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLinkActive="active">Comercios</a>
              </li>
            </ng-container>
            <ng-template #rolesIn>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLinkActive="active"
                  [routerLink]="['/publicacion']">Publicacion</a>
              </li>
            </ng-template>
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <ng-container *ngIf="!login(); else loggedIn">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLinkActive="active" [routerLink]="['/signin']">INICIAR
                  SESION</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/signup']">REGISTRARSE</a>
              </li>
            </ng-container>
            <ng-template #loggedIn>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>