<div class="container">
    <div class="row">
        <h1>Registrate en ComerciosApp</h1>
    </div>
</div>

<div class="container form-add">
    <form >
        <div class="row">
            <div class="col-6">
                <label for="">Titulo:</label>
                <input type="text" name="username"  class="form-control" placeholder="Nombre de la pelicula" >
                 
                <label for="">email:</label>
                <input type="email" class="form-control"  name="clasificacion" placeholder="A, B ó C">
                
                <select class="form-control select-option"  name="rol">
                    <option   ></option>
                </select>
                
            </div>
            <button  class="btn btn-primary btn-save">Save Changes</button>
        
        </div>
    </form>
</div>

<div class="container-fliud container-login">
    <div class="row">
        <div class="col-6">
            <div class="sidenav info-login">
               <div class="login-main-text">
                  <h2>Comercios App</h2>
                  <h4>¡Los mejores comercios a un solo click!</h4>
                  <p>Bienvenido al sistema de comercios. Aca encontrarás información y valoraciones de los comercios más importantes de todo El Salvador.</p>
               </div>
               <div>
                  <img src="./assets/mano-mockup.png" alt="mockup" class="img-mockup">
               </div>
            </div>
         </div>
        <div class="col-6">
            <div class="d-flex justify-content-center form_registre">
                <form >
                    <h3>Editando</h3>
                        
                    <label for="">Ingrese su usuario:</label>
                    <input type="text" class="form-control" name="username"  placeholder="Nombre de usuario" autofocus>
                        
                    <label for="">Ingrese su email:</label>
                    <input type="email" class="form-control" name="email"  placeholder="user@gmail.com" >
                       
                    <label for="">Seleccione el rol:</label>
                    <select class="form-control select-option" id="rol" name="rol">
                        <option >User</option>
                    </select>

                <div class="d-flex justify-content-center mt-3 login_container">
                    <button  class="btn btn-primary btn-save">
                        EDITAR
                    </button>
                    <button class="btn btn-cancelar" [routerLink]="['/list-users']" >
                        CANCELAR
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>       
</div>
