<div class="container">
    <div class="row">
        <h1>Agregar nueva película a Cineapp+</h1>
    </div>
        <div class="col">
            <div class="d-flex justify-content-center add-comercio">
                <form>
                    <div class="input-comercio">
                        <label for="">Nombre de comercio:</label>
                        <input type="text" formControlName="titulo" class="form-control" placeholder="Comercio" >
                    </div>
                    
                    <div class="input-comercio">
                        <label for="">Contactos:</label>
                        <input type="text" class="form-control"  formControlName="contactos" placeholder="Teléfono">
                    </div>
    
                    <div class="input-comercio">
                        <label for="">Redes sociales:</label>
                        <input type="text" class="form-control"  formControlName="redes" placeholder="Facebook">
                    </div>

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button class="btn btn-primary btn-save">GUARDAR</button>
                        <button class="btn btn-cancelar">CANCELAR</button>
                    </div>
                </form>
            </div>
        </div>
    
</div>
