<div class="container">
    <div class="row">
        <h1>Agregar nueva película a Cineapp+</h1>
    </div>
        <div class="col">
            <div class="d-flex justify-content-center add-comercio">
                <form (ngSubmit)="submitComercios()">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Nombre del cine:</label>
                            <input type="text" name="nombreComercio" [(ngModel)]="comercio.nombreComercio" class="form-control"
                                placeholder="Nombre de la pelicula">
            
                            <label for="">Propietario:</label>
                            <input type="text" class="form-control" [(ngModel)]="comercio.propietario" name="propietario"
                                placeholder="Don Andy">
                            <label for="">Seleccionar coordenadas:</label>
                            <div class="mapa" id="contentmapa"></div>
                        </div>
            
                        <div class="col-6">
                            <label for="">Telefono:</label>
                            <input type="text" class="form-control" [(ngModel)]="comercio.telefono" name="telefono"
                                placeholder="Don Andy">
                            <label for="">Redes sociales:</label>
                            <input type="text" class="form-control" [(ngModel)]="comercio.redes_sociales" name="redes_sociales"
                                placeholder="Redes sociales">
                            <label for="">Logo:</label>
                            <input type="text" class="form-control" [(ngModel)]="comercio.logo" name="logo"
                                placeholder="Url de la portada">
                            
                            <label for="">Descripcion:</label>
                            <input type="text" class="form-control" [(ngModel)]="comercio.descripcion" name="descripcion"
                                placeholder="Estado">
            
                        </div>
            
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button class="btn btn-primary btn-save">
                                REGISTRAR
                              </button>
                              <button class="btn btn-primary btn-save" [mat-dialog-close]="false">
                                CANCELAR
                              </button>
                        </div>
            
                    </div>
                </form>
            </div>
        </div>
    
</div>
