<div class="container-fliud container-login">
    <div class="row">
        <div class="col-6">
            <div class="sidenav info-login">
               <div class="login-main-text">
                  <h2>Comercios App</h2>
                  <h4>¡Los mejores comercios a un solo click!</h4>
                  <p>Bienvenido al sistema de comercios. Aca encontrarás información y valoraciones de los comercios más importantes de todo El Salvador.</p>
               </div>
               <div>
                  <img src="./assets/mano-mockup.png" alt="mockup" class="img-mockup">
               </div>
            </div>
         </div>
        <div class="col-6">
            <div class="d-flex justify-content-center form_registre">
                <form [formGroup]="miFormulario" (ngSubmit)="edit ? updateUsers() : submitUsers()">
                    <h3>Registrarse</h3>
                        
                    <label for="">Ingrese su usuario:</label>
                    <input type="text" class="form-control" formControlName="username" placeholder="Nombre de usuario" autofocus>
                    <p *ngIf="!miFormulario.controls['username'].valid" class="text-danger">Ingrese su usuario.</p>
                        
                    <label for="">Ingrese su email:</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="user@gmail.com" autofocus>
                    <p *ngIf="!miFormulario.controls['email'].valid" class="text-danger">Ingrese el correo en un formato correcto.</p>
                       
                    <label for="">Ingrese su contraseña:</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="••••••••••">
                    <p *ngIf="!miFormulario.controls['password'].valid" class="text-danger"></p>
                       
                    <label for="">Seleccione el rol:</label>
                    <select class="form-control select-option" id="rol" formControlName="rol">
                        <option value="user" >Usuario</option>
                    </select>
                    <p *ngIf="!miFormulario.controls['rol'].value" class="text-danger">Seleccione un rol</p>
                        

                <div class="d-flex justify-content-center mt-3 login_container">
                    <button [disabled]="!miFormulario.valid" class="btn btn-primary btn-save">
                        REGISTRARSE
                    </button>
                    <button class="btn btn-cancelar" [routerLink]="['/list-users']" >
                        CANCELAR
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>       
</div>
