<div class="container">
    <div class="row">
        <h1>Add new usuario+</h1>
    </div>
</div>


<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header ">
                Iniciar Sesión
            </div>
            <div class="card-body">
                <form [formGroup]="miFormulario" (ngSubmit)="submitUsers()">
                    <div class="form-group ">
                        <div class="col-6 mb-2">
                            <label for="">Ingrese su usuario:</label>
                            <input type="text" class="form-control" formControlName="username"
                                placeholder="Nombre de usuario" autofocus>
                            <p *ngIf="!miFormulario.controls['username'].valid" class="text-danger">Ingrese un nombre de usuario sin espacios!</p>
                            <label for="">Ingrese su email:</label>
                            <input type="email" class="form-control" formControlName="email"
                                placeholder="email@gmail.com" autofocus>
                            <p *ngIf="!miFormulario.controls['email'].valid" class="text-danger">Ingrese el correo en un formato correcto!</p>
                            <label for="">Ingrese su contraseña:</label>
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Password">
                            <p *ngIf="!miFormulario.controls['password'].valid" class="text-danger">Ingrese la password no sea insolente!</p>
                            <label for="">Seleccione el rol:</label>
                            <select class="form-control select-option" formControlName="rol">
                                <option value="user">user</option>
                            </select>
                            
                            
                            <!--<select class="form-control select-option" id="rol" formControlName="rol">
                                <option value="admin">admin</option>
                                <option value="supervisor">supervisor</option>
                                <option value="user">user</option>
                                <ng-container *ngFor="let r of roles" >
                                     <option *ngFor="let r of roles" [ngValue]="r.name" >{{r.name}}</option>
                                    <option value="r.name" >
                                        {{r.name}}
                                    </option>
                                </ng-container>
                            <option value="admin">admin</option>
                                <option value="supervisor">supervisor</option>
                                <option value="user">user</option>
                               
                            </select>
                            <p *ngIf="!miFormulario.controls['rol'].value" class="text-danger">Seleccione un rol</p>
                            -->
                        </div>

                        <button [disabled]="!miFormulario.valid" class="btn btn-primary btn-save">
                            REGISTRARSE
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
