<div class="container">
    <div class="row">
            <h1>PUBLICACIONES</h1>
    </div>

<!-- *ngFor="let r of roles" [ngValue]="r.name" buton (click)="editUser(u._id)" -->
    <div class="row">
        <div class="col-3" >
            <div class="card">
                <img src="../../../assets/Perfil6.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title" *ngFor="let p of peliculas"  >{{p.titulo}}</h3>
                        <h3 class="card-title">Buen comercio</h3>
                        <h3 class="card-title">Buen comercio</h3>
                    </div>
              </div>
        </div>
    </div>
</div>

