<div class="container-fliud container-login">
    <div class="row">
        <div class="col-6">
            <div class="sidenav info-login">
               <div class="login-main-text">
                  <h2>Comercios App</h2>
                  <h4>¡Los mejores comercios a un solo click!</h4>
                  <p>Bienvenido al sistema de comercios. Aca encontrarás información y valoraciones de los comercios más importantes de todo El Salvador.</p>
               </div>
               <div>
                  <img src="./assets/mano-mockup.png" alt="mockup" class="img-mockup">
               </div>
            </div>
         </div>
        <div class="col-6">
            <div class="d-flex justify-content-center form_registre">
                <form (ngSubmit)="submitPublicacion()">
                    <h3>Creando una nueva publicacion</h3>
                    <label for="">Comercio:</label>
                    <input type="text" class="form-control" [(ngModel)]="detalle.comercio" name="comercio" placeholder="Comercio" autofocus>
                    <label for="">Director\es:</label>
                    <input type="text" class="form-control" [(ngModel)]="detalle.director" name="director" placeholder="Director" >
                    <label for="">Actor\es:</label>
                    <input type="email" class="form-control" [(ngModel)]="detalle.actores" name="actores" placeholder="Actores">
                    <label for="">Sinopsis:</label>
                    <input type="text" class="form-control" [(ngModel)]="detalle.sinopsis" name="sinopsis" placeholder="Descripcion">
                    <label for="">Nombre de la pelicula:</label>
                    <input type="text" class="form-control" [(ngModel)]="detalle.pelicula" name="pelicula" placeholder="Pelicula">
                    <label for="">Imagen:</label>
                    <input type="text" class="form-control" [(ngModel)]="detalle.imagen" name="imagen" placeholder="URL de la imagen">
                    <div class="d-flex justify-content-center mt-3 login_container">
                    <button class="btn btn-primary btn-save" >
                        REGISTRAR
                      </button>
                      <button class="btn btn-primary btn-save" [routerLink]="['/publicacion']">
                        IR AL LISTADO
                      </button>
                </div>
                </form>
            </div>
        </div>
    </div>       
</div>