<div class="container">
    <div class="row me-auto mb-2 mb-lg-0">
        <h1>Users List</h1>
        
    </div>
<div class="me-auto mb-2 mb-lg-0">
  <button class="btn btn-primary btn-edit" [routerLink]="['/signup']" >
    Agregar
  </button>
</div>
    
</div>

<div class="container form-all">
  <div class="row">
    <ng-container *ngFor="let u of users">
    <div class="col-3 card-movie">
        <div class="card">
          <img [src]="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nombre de Usuario: {{u.username}}</h5>
            <p class="details-movie">Email: {{u.email}}</p>
          </div>
      
          <a class="btn btn-primary btn-edit" (click)="editUser(use.id)" [routerLink]="['/app-edituser/', u._id]" >
            Update
          </a>
          <button class="btn btn-danger btn-delete" >
            Delete
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
