<div class="container">
  <div class="row me-auto mb-2 mb-lg-0">
    <h1>Listado de todos los usuarios registrados en ComerciosApp</h1>
    <button class="btn btn-primary btn-action" mat-raised-button color="primary" (click)=" openDialog()">
      + Agregar Nuevo Usuario</button>
  </div>

<div class="tablas" fxLayoutAlign="center mb-50">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="users" class="table table-striped" #tabla1>

      <ng-container matColumnDef="username">
        <th class="subtitulos" mat-header-cell *matHeaderCellDef> USUARIO </th>
        <td mat-cell *matCellDef="let u of users"> {{u.username}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th class="subtitulos" mat-header-cell *matHeaderCellDef> EMAIL </th>
        <td mat-cell *matCellDef="let u of users"> {{u.email}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th class="subtitulos" mat-header-cell *matHeaderCellDef>ACCIONES</th>
        <td mat-cell *matCellDef="let u of users" fxLayoutAlign="start">
          <button mat-icon-button class="edit" matTooltip="Editar usuario">
            <mat-icon (click)="editUser(u._id)" [routerLink]="['/','edit-user', u._id]">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="eliminarUsuario(u._id)" class="delete"
            matTooltip="Eliminar Usuario">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="columnas; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>
</div>
</div>